{% include '../templates/dashboard/header.html' %}
<center>
    <div class="summary" id="summary-table">
        <p class="title">{{ title}}</p>

        <table class="display" id="builds-table">
            <thead>
            <tr>
                <th class="left" width="40%">Build Number</th>
                <th class="left" width="20%">manifest</th>
                <th class="left" width="20%">Version</th>
            </tr>
            </thead>
            <tbody>
            {% for row in data %}
                <tr>
                    <td>
                        <a href='{{ row.url }}'>{{ row.name}} {{row.arch}}</a>
                        <a href='/dashboard/manifest?fullversion={{ row.fullversion }}&package_type={{ row.os }}'>.</a> 
                    </td>
                    <td>{{ row.manifest }}</td>
                    <td>{{ row.buildnumber }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div>
	</div>
</center>
{% include '../templates/dashboard/footer.html' %}

